# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#Google Service
google-services.json
android/app/google-services.json
GoogleService-Info.plist

#Other
private/
public/
.firebaserc
firebase.json
package.json
.github
ios-setup.txt
.env

#Google Services
google-services.json
android/app/google-services.json
android/app/src/debug/google-services.json
android/app/src/release/google-services.json
